@model BookRetail_API.Models.Book
@{
    ViewData["Title"] = $"{Model.Title} : Book";
}
<h1>@Model.Title</h1>
<hr />
<dl>
    <dt>Publishers:</dt>
    <dd><a href="@Url.Action("Models", "Publishers", new { id = Model.BookModel.PublisherCode})">@Model.BookModel.Publisher.Name</a></dd>
    <dt>Model:</dt>
    <dd>@Model.BookModel.Code</dd>
    <dt>Year:</dt>
    <dd>@Model.PublicationYear</dd>
    <dt>Genre:</dt>
    <dd>@Model.Genre</dd>
    <dt>Author:</dt>
    <dd>@Model.Author</dd>
</dl>